#home {
    position: relative;
    width: 1152px;
    height: 1992px;

    background: #FFFFFF;
}

#nav {
    position: absolute;
    width: 578px;
    height: 24px;
    left: 481px;
    top: 34px;

}

#betterCoder {
    position: absolute;
    width: 121px;
    height: 24px;
    left: -398px;
    top: 2px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

#linkedin-box-fill-1 {
    position: absolute;
    left: 95.85%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

#vectorFacebook {
    position: absolute;
    left: 86.68%;
    right: 9.86%;
    top: 8.33%;
    bottom: 8.33%;

}

#vectorLinkedIn2 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

}

#headSection {
    position: absolute;
    width: 1152px;
    height: 467px;
    left: 0px;
    top: 85px;
}

#retrangle4 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FBFBFB;
}

#retrangle4-text1 {
    position: absolute;
    left: 11.02%;
    right: 68.14%;
    top: 64.24%;
    bottom: 20.34%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #4A5568;
}

#retrangle4-text2 {
    position: absolute;
    left: 11.02%;
    right: 70.4%;
    top: 28.05%;
    bottom: 46.25%;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.035em;

    color: #000000;
}