<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Vue 2.0</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div id="app">

    <input type="text" id="number" v-model="count">
    <button v-on:click="count++">+</button>
    <button v-on:click="count--">-</button>

    <hr>

    <p>Current Value: {{ count }}</p>

    <input type="text" placeholder="Image URL..." v-model="imageURL">
    <img :src="imageURL" alt="">
    {{ imageURL }}

    <textarea v-model="html"></textarea>
    <div v-html="html">{{ html }}</div>

    <div class="box" @mousemove="capture">
        HOVER ME
        <div class="blocked" @mousemove.stop></div>
    </div>

    <div class="coordinates">
        {{ x }}, {{ y }}
    </div>

    <input type="text" placeholder="First Name" v-model="firstName">
    <input type="text" placeholder="Last Name" v-model="lastName">

    <div>Hello, {{ fullName }}</div>

    <div class="boxes">
        <div :class="['centerBox', {blue: (active === '1')}]" @click="active = '1'"></div>
        <div :class="['centerBox', {blue: (active === '2')}]" @click="active = '2'"></div>
        <div :class="['centerBox', {blue: (active === '3')}]" @click="active = '3'"></div>
        <div :class="['centerBox', {blue: (active === '4')}]" @click="active = '4'"></div>
        <div :class="['centerBox', {blue: (active === '5')}]" @click="active = '5'"></div>
    </div>

    <div v-if="active === '3'">
        You have selected box 3
    </div>

    <div v-else>
        You have selected other box.
    </div>

    <ul>
        <li :key="index" v-for="(fruit, index) in fruits"></li>
    </ul>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="script.js"></script>

</body>
</html>